<div class="row">
    <form style="" name="addQuotationForm">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title">新车上牌</h5>
                </div>
                <div class="widget-body">
                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label for="id" class="text-center search-item-label">统筹单号:</label>
                            <input type="text" class="form-control" id="id" name="id" style="width:100%" value="{:input('param.id')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="car_name" class="text-center search-item-label">修改日期:</label>
                            <input type="text" class="form-control" id="car_name" name="car_name" style="width:100%" value="{:input('param.car_name')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <button class="layui-btn layui-btn-radius layui-btn-normal" id="search" style="margin-top:2rem;">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>