<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html ng-app="app">
<link rel="stylesheet" href="/static/ace1.4/assets/css/index.css"/>
<form action="" method="post" enctype='multipart/form-data' name="cha" id="myform" onsubmit="return chakan()">
    <div class="page-content"><!--位置-->
        <div class="title"><span>位置：</span></div>
        <div class="content"><!--标题-->
            <input type="text" value="" name="id" hidden  id="newid">
            <div class="titles"><p><font></font>业务信息</p></div>
            <!--内容-->
            <div class="conts">
                <div class="input"><span>业务来源</span>
                    <select name="yw_come" id="yelai">
                        <option value="">请选择业务来源</option>
                        <option value="直接业务">直接业务</option>
                        <option value="分支机构">分支机构</option>
                        <option value="合作商">合作商</option>
                        <option value="查勘机构">查勘机构</option>
                    </select></div>
                <div class="input"><span>归属部门</span>
                    <select name="yw_class" id="yw_class">
                        <option value="">请选择所属部门</option>
                    </select>
                </div>
                <div class="input"><span>归属人</span>
                    <select name="yw_belonger" id="yw_belonger">
                        <option value="">请选择归属人</option>
                    </select>
                </div>
                <div class="input"><span>经办人</span>
                    <select name="yw_handle" id="yw_handle">
                        <option value="">请选择经办人</option>
                    </select>
                </div>
            </div>
            <div class="conts">
                <div class="input"><span>参统日期</span><input type="text" name="yw_join_time" placeholder="" value="<?php echo date('Y-m-d H:i:s',time());?>"  readonly="readonly" name="yw_join_time" id="candate"/></div>
                <div class="input"><span>录入人</span><input type="text" placeholder="请输入录入人" name="yw_enter_peo" id="luren" value="{:session('user_name')}" readonly="readonly"/></div>
                <div class="input"><span>核统人</span><input type="text" placeholder="" name="yw_hetongpeo" id="heren" readonly="readonly"/></div>
                <div class="input"><span>核统日期</span><input type="text" placeholder="" name="yw_hetong_time" id="hedate" readonly="readonly"/></div></div>
            <div class="conts">
                <div class="input"><span>财务审核人</span><input type="text" placeholder="" name="yw_finance_peo" id="caishen" readonly="readonly"/></div>
                <div class="input"><span>审核日期</span><input type="text" placeholder="" name="yw_shenhe_time" id="shendate" readonly="readonly"/></div>
            </div>
            <!--标题-->
            <div class="titles"><p><font></font>统筹单信息</p></div>
            <div class="conts">
                <div class="input"><span>参统单暂存号</span>
                    <input type="text" placeholder="" name="tong_storage" value="" id="canzan"
                           readonly="readonly"/>
                </div>
                <div class="input">
                    <span>统筹单号</span>
                    <input type="text" placeholder="" name="tong_number" value="" id="tonghao" readonly="readonly"/>
                </div>
                <div class="input">
                    <span>打印单号</span>
                    <input type="text" placeholder="" name="tong_document" value="" id="danzheng" readonly="readonly"/>
                </div>
            </div>
            <!--标题-->
            <div class="titles">
                <p><font></font>交强险信息</p>
            </div>
            <div class="conts">
                <div class="input">
                    <span>交强险投保公司</span>
                    <input type="text" placeholder="请输入交强险投保公司" name="give_company" id="jiaoxian"/>
                </div>
                <style>
                    .input .wui-area{
                        width:100%;
                    }
                </style>
                <div class="input">
                    <span>交强起期</span>
                    <!--<input class="datainp" id="datebut" type="text" placeholder="请选择交强起期" name="give_starttime" onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})">-->
                    <input type="" name="give_starttime" id="startTimejiao" readonly value="" >
                </div>



                <div class="input">
                    <span>交强止期</span>
                    <!--<input type="text" placeholder="请输入交强止期" name="give_endtime" id="jzdate" value="" oninput='v()'-->
                    <!--onpropertychange='v()'/>-->
                    <!--<input class="datainp" id="dateinfo" type="text" placeholder="请选择交强起期" name="give_endtime" value="" onClick="jeDate({dateCell:'#dateinfo',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})">-->
                    <input type="" name="give_endtime" id="endTimejiao" value="" readonly="readonly" style="border: 1px solid #e4e4e4;"/>
                </div>
            </div>
            <!---->
            <div class="titles">
                <p><font></font>车辆信息</p>
            </div>
            <div class="conts">
                <div class="input">
                    <span>号码号牌<font class="red">*</font></span>
                    <div class="ipt" style="display: flex;">
                        <input type="text" placeholder="请输入车牌号码" name="car_num" id="haopai" style="width: calc(100% - 70px);" value=""/>
                        <input type="checkbox" style="display: block;width: 20px;height: 20px;margin:5px;" name="car_is_new" value="2" id="isnew"><font style="line-height: 30px;">新车</font>
                    </div>
                </div>
                <div class="input">
                    <span>号码种类<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入号码种类" name="haozhong" id="haozhong"/>-->
                    <select name="car_num_kind" id="haozhong">
                        <option value="0">大型汽车号牌</option>
                        <option value="1">小型汽车号牌</option>
                        <option value="2">挂车号牌</option>
                        <option value="3">大型新能源汽车</option>
                        <option value="4">小型新能源汽车</option>
                    </select>
                </div>
                <div class="input">
                    <span>号牌底色<font class="red">*</font></span>
                    <select name="haocolor" id="chese">
                        <option value="">请选择号牌底色</option>
                        <option value="1">蓝</option>
                        <option value="2">黑</option>
                        <option value="3">白</option>
                        <option value="4" selected>黄</option>
                        <option value="5">白蓝</option>
                        <option value="6">黄绿双拼</option>
                        <option value="7">渐变绿</option>
                    </select>
                </div>
                <div class="input">
                    <span>车主姓名<font class="red">*</font></span>
                    <input type="text" placeholder="请输入车主姓名" name="car_owner" oninput='vs()' onpropertychange='vs()'
                           id="chezhu"/>
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>与被统筹人关系<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入与被统筹人关系" name="guanxi" id="guanxi"/>-->
                    <select name="car_relation" id="guanxi">
                        <option value="0">所有</option>
                        <option value="1">使用</option>
                        <option value="2">管理</option>
                    </select>
                </div>
                <div class="input">
                    <span>证件类型<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入证件类型" name="zhengjianlei" id="zhengjianlei"/>-->
                    <select name="car_card_kind" id="zhengjianlei">
                        <option value="0">身份证</option>
                        <option value="1">统一社会信用代码</option>
                    </select>
                </div>
                <div class="input">
                    <span>证件号<font class="red">*</font></span>
                    <input type="text" placeholder="请输入证件号" oninput='vs()' onpropertychange='vs()' name="car_card"
                           id="car_card" id="zhengjianhao"/>
                </div>
                <div class="input">
                    <span>地址</span>
                    <input type="text" name="car_address" oninput='vs()' onpropertychange='vs()' id="add">
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>车架号<font class="red">*</font></span>
                    <input type="text" placeholder="请输入车架号" name="car_vin" id="chehao"/>
                </div>
                <div class="input">
                    <span>发动机号<font class="red">*</font></span>
                    <input type="text" placeholder="请输入发动机号" name="car_engine" id="fadong"/>
                </div>
                <div class="input">
                    <span>厂牌型号<font class="red">*</font></span>
                    <input type="text" placeholder="请输入厂牌型号" name="car_factory_num" id="changhao"/>
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>注册日期(例:2019-01-01)<font class="red">*</font></span>
                    <input type="text" placeholder="请输入注册日期" name="car_register" id="zhu"/>
                </div>
                <div class="input">
                    <span>发证日期(例:2019-01-01)<font class="red">*</font></span>
                    <input type="text" placeholder="请输入发证日期" name="car_issue_time" id="fadate"/>
                </div>
                <div class="input">
                    <span>车龄</span>
                    <input type="text" placeholder="请输入车龄" name="car_age" id="cheling"/>
                </div>
                <div class="input">
                    <span>过户</span>
                    <select name="car_is_transfer" id="guohu">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>新车购置价<font class="red">*</font></span>
                    <input type="text" placeholder="请输入新车购置价" name="car_buy" id="xinchejia"/>
                </div>
                <div class="input">
                    <span>实际价值<font class="red">*</font></span>
                    <input type="text" placeholder="请输入实际价值" oninput='vs()' onpropertychange='vs()'  name="car_reall"
                           id="shijia"/>
                </div>
                <div class="input">
                    <span>使用性质<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入使用性质" name="shizhi" id="shizhi"/>-->
                    <select name="car_use_nature" id="shizhi">
                        <option value="0">非营运</option>
                        <option value="1" selected>货运</option>
                        <option value="2">特一</option>
                        <option value="3">特二</option>
                        <option value="4">特三</option>
                        <option value="5">特四</option>
                        <option value="6">租赁</option>
                    </select>
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>车辆种类<font class="red">*</font></span>
                    <select name="car_kind" id="sel">
                        <option value="0">货车</option>
                        <option value="1">半挂牵引车</option>
                        <option value="2">自卸货车</option>
                        <option value="3">挂车</option>
                        <option value="4">特一</option>
                        <option value="5">冷藏车</option>
                        <option value="6">清洁车</option>
                        <option value="7">清障车</option>
                        <option value="8">起重车</option>
                        <option value="9">混凝土搅拌车</option>
                        <option value="10">自卸式垃圾车</option>
                    </select>
                </div>
                <div class="input">
                    <span>车辆类型<font class="red">*</font></span>
                    <select name="car_leixing" id="carsel" placeholder="车辆类型">
                        <option value="0">2吨以下</option>
                        <option value="1">2-5吨</option>
                        <option value="2">5-10吨</option>
                        <option value="3">10吨以上</option>
                    </select>
                </div>
                <div class="input">
                    <span>核定载客（人）<font class="red">*</font></span>
                    <input type="text" placeholder="请输入核定载客" name="car_carry_peo"  oninput='vs()'
                           onpropertychange='vs()' id="hezai"/>
                </div>
            </div>
            <div class="conts">
                <div class="input">
                    <span>核定载质量/准牵引总质量（kg）<font class="red">*</font></span>
                    <input type="text" placeholder="请输入核定载质量/准牵引总质量" name="car_carry_quality" id="hezhi"/>
                </div>
                <div class="input">
                    <span>整备质量（kg）</span>
                    <input type="text" placeholder="请输入整备质量" name="car_curb_weight" id="zhengbei"/>
                </div>
                <div class="input">
                    <span>排量</span>
                    <input type="text" placeholder="请输入排量" name="car_displacement" id="pailiang"/>
                </div>
                <div class="input">
                    <span>功率</span>
                    <input type="text" placeholder="请输入功率" name="car_power" id="gonglv"/>
                </div>
            </div>
            <style>
                .yanche {
                    width: 100px;
                    height: 30px;
                }
            </style>
            <div class="conts">
                <div class="input" >
                    <span >验车情况</span>
                    <select name="car_check" id="ycqk">
                        <option value="">请选择验车情况</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
                <div class="input">
                    <span>原因<font class="red">*</font></span>
                    <input id="yan" type="text" name="car_check_res" list="yuanyin" maxlength="20"
                           style="width: 100%;height:34px;margin: 0;padding: 0;">
                    <datalist id="yuanyin" style="display:none;">
                        <option value="新车">新车</option>
                        <option value="只参统责任险">只参统责任险</option>
                        <option value="上年未到期">上年未到期</option>
                        <option value="已过期">已过期</option>
                        <option value="增加损失类项目">增加损失类项目</option>
                        <option value="新车超时效">新车超时效</option>
                    </datalist>

                </div>
                <div class="input">
                    <span>上年出险情况<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入上年出险情况" name="shangxian" id="shangxian"/>-->
                    <select name="car_lastyear" id="shangxian">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3次以上</option>
                        <option value="4">无状态或过户</option>
                    </select>
                </div>
                <div class="input">
                    <span>参统省份<font class="red">*</font></span>
                    <!--<input type="text" placeholder="请输入参统省份" name="cansheng" id="cansheng"/>-->
                    <select class="cansheng" id="cansheng" name="car_province">
                        <option value="" data-code="0" style="color: #666;">—— 省 ——</option>
                        <option value="北京市" data-code="110000">北京市</option>
                        <option value="天津市" data-code="120000">天津市</option>
                        <option value="河北省" data-code="130000" selected="">河北省</option>
                        <option value="山西省" data-code="140000">山西省</option>
                        <option value="内蒙古自治区" data-code="150000">内蒙古自治区</option>
                        <option value="辽宁省" data-code="210000">辽宁省</option>
                        <option value="吉林省" data-code="220000">吉林省</option>
                        <option value="黑龙江省" data-code="230000">黑龙江省</option>
                        <option value="上海市" data-code="310000">上海市</option>
                        <option value="江苏省" data-code="320000">江苏省</option>
                        <option value="浙江省" data-code="330000">浙江省</option>
                        <option value="安徽省" data-code="340000">安徽省</option>
                        <option value="福建省" data-code="350000">福建省</option>
                        <option value="江西省" data-code="360000">江西省</option>
                        <option value="山东省" data-code="370000">山东省</option>
                        <option value="河南省" data-code="410000">河南省</option>
                        <option value="湖北省" data-code="420000">湖北省</option>
                        <option value="湖南省" data-code="430000">湖南省</option>
                        <option value="广东省" data-code="440000">广东省</option>
                        <option value="广西壮族自治区" data-code="450000">广西壮族自治区</option>
                        <option value="海南省" data-code="460000">海南省</option>
                        <option value="重庆市" data-code="500000">重庆市</option>
                        <option value="四川省" data-code="510000">四川省</option>
                        <option value="贵州省" data-code="520000">贵州省</option>
                        <option value="云南省" data-code="530000">云南省</option>
                        <option value="西藏自治区" data-code="540000">西藏自治区</option>
                        <option value="陕西省" data-code="610000">陕西省</option>
                        <option value="甘肃省" data-code="620000">甘肃省</option>
                        <option value="青海省" data-code="630000">青海省</option>
                        <option value="宁夏回族自治区" data-code="640000">宁夏回族自治区</option>
                        <option value="新疆维吾尔自治区" data-code="650000">新疆维吾尔自治区</option>
                        <option value="台湾省" data-code="710000">台湾省</option>
                        <option value="香港特别行政区" data-code="810000">香港特别行政区</option>
                        <option value="澳门特别行政区" data-code="820000">澳门特别行政区</option>
                    </select>
                </div>
            </div>
            <div class="titles">
                <p><font></font>统筹期间</p>
            </div>
            <div class="conts">
                <div class="input">
                    <span>统筹起期</span>
                    <!--<input type="text" placeholder="<?php echo date('Y-m-d',strtotime('+1 day')) ?>" value=""-->
                    <!--name="plan_strattime" id="tqdate" oninput='t()' onpropertychange='t()'/>-->
                    <input type="" name="plan_strattime" id="startTime" value="<?php echo date('Y-m-d',strtotime('+1 day')) ?>" readonly name="plan_strattime">
                </div>
                <div class="input">
                    <span>统筹止期</span>
                    <!--<input type="text" placeholder="<?php echo date('Y-m-d',strtotime('+1 year'))?>" value=""-->
                    <!--name="plan_endtime" id="tzdate" oninput='t()' onpropertychange='t()'/>-->
                    <input type="" name="plan_endtime" id="endTime" value="<?php echo date('Y-m-d',strtotime('+1 year'))?>"  readonly style="border: 1px solid #e4e4e4;"/>
                </div>
            </div>
            <div class="titles">
                <p><font></font>统筹项目</p>
            </div>
            <!--表格-->
            <div class="luru-table">
                <table class="layui-table">
                    <thead>
                    <tr style="background: #3683D3;color: #fff;">
                        <th style="width: 10% !important;">
                            <input type="checkbox" name="" id="checks">
                        </th>
                        <th style="width:25% !important;">主统筹项目</th>
                        <th>统筹金额</th>
                        <th>标准统筹费</th>
                        <th>折扣(%)</th>
                        <th>应缴统筹费</th>
                        <th>不计免赔</th>
                    </tr>
                    </thead>
                    <form id="AllPut">
                        <tbody>

                        <tr>

                            <td>
                                <!--                            <input type="checkbox" name="main_name[]" id="main_name" value="1" oninput='v()' onpropertychange='v()' class="chk">-->
                                <input type="checkbox" name="main_name" id="main_name" value="1"  class="chk">
                            </td>
                            <td>机动车损失统筹</td>
                            <td>
                                <input type="text" name="main_money" id="main_money"  value="" style="width: 100%;height:
                             100%;border: none;margin: 0;">
                            </td>
                            <td><input type="text" name="main_standard" class="zongshu" id="main_standard" data-hu="main_standard" value=""
                                       style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="main_discount" id="sun" value=""  readonly="readonly"/></td>
                            <td><input type="text" name="main_submit" id="main_submit" class="zong_tongchou" value=""
                                       readonly="readonly"
                                       style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <!--                        <td><input type="checkbox" value="" name="main_franchise" id="main_franchise" checked/></td>-->
                            <td><input type="checkbox" value="1" name="main_franchise" id="main_franchise"
                                       checked="checked"></td>
                        </tr>
                        <tr>
                            <td>
                                <!--                            <input type="checkbox" name="main_disan" id="main_disan" value="1" class="chk">-->
                                <input type="checkbox" name="main_disan"  id="main_disan" value="1"
                                       class="chk">
                            </td>
                            <td>机动车第三者责任统筹</td>
                            <td>
                                <input type="text" name="main_santong" value=""  id="main_santong"  style="width: 100%;height: 100%;border: none;margin: 0;" list="datas">
                                <datalist id="datas">
                                    <option value="1000000">1000000</option>
                                    <option value="500000">500000</option>
                                    <option value="300000">300000</option>
                                </datalist>
                            </td>
                            <td> <input type="text" name="main_biao" data-hu="main_biao" id="main_biao" class="zongshu" value=""
                                        style="width: 100%;height:
                         100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="main_zhe" id="san" value=""   readonly="readonly"/></td>
                            <td><input type="text" name="main_yingjiao" id="main_yingjiao" class="zong_tongchou" value=""  readonly="readonly"
                                       style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <td><input type="checkbox" value="1" name="main_ji" id="main_ji" checked="checked"/></td>
                        </tr>
                        <tr>
                            <td>
                                <!--                            <input type="checkbox" name="dao_name" id="dao_name"  value="1" class="chk">-->
                                <input type="checkbox" name="dao_name" id="dao_name"  value="1" class="chk" >
                            </td>
                            <td>机动车全车盗抢统筹</td>
                            <td><input type="text" name="dao_tong" id="dao_tong" value=""  style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="dao_biao" data-hu="dao_biao"  id="dao_biao" class="zongshu" value=""
                                       style="width: 100%;height:
                        100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="dao_zhe"  id="dao" value=""   readonly="readonly"></td>
                            <td><input type="text" name="dao_ying"  id="dao_ying" value=""  readonly="readonly" class="zong_tongchou"
                                       style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <td><input type="checkbox" value="1" name="dao_ji" id="dao_ji"  checked="checked" /></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="siji" id="si_jis" value="1" class="chk" >
                            </td>
                            <td style="display: flex;justify-content: center;">车上人员责任统筹(司机)
                                <input type="text"  id="" value="1"  readonly="readonly"
                                       style="width:50px;height: 100%;margin: 0;">
                            </td>
                            <td>
                                <input type="text" name="siji_tong" id="siji_tong"  value=""  style="width: 100%;height: 100%;border: none;margin: 0;">
                            </td>
                            <td><input type="text" name="siji_biao" id="siji_biao" data-hu="siji_biao"
                                       value="" class="zongshu"  style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="siji_zhe" id="siji"
                                       value="" readonly="readonly"></td>
                            <td><input type="text" name="siji_ying" id="siji_ying" class="zong_tongchou"
                                       value="" style="width: 100%;height:
                        100%;border: none;margin: 0;" readonly="readonly"></td>
                            <td><input type="checkbox" value="1" name="siji_ji" id="siji_ji"
                                       checked="checked"/></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="chengke" id="chengkess"
                                       value="1" class="chk">
                            </td>
                            <td style="display: flex;justify-content: center;">
                                车上人员责任保险(乘客)
                                <input type="text" name="ck_money" value="" id="ck" oninput='vs()' onpropertychange='vs()'
                                       style="width:80px;height: 100%;margin: 0;">元/座
                                <input type="text" name="chengke_zuo" style="width:50px;height:100%;width:40px;margin: 0
                            5px;display: block" oninput='vs()'  onpropertychange='vs()' id="zuo" value=""
                                       readonly="readonly">座
                            </td>
                            <td>
                                <input type="text" name="ck_tong" id="ck_tong" value=""  readonly="readonly"
                                       style="width: 100%;height: 100%;border: none;margin: 0;">
                            </td>
                            <td> <input type="text" name="ck_biao" class="zongshu" id="ck_biao" value="" data-hu="ck_biao"
                                        style="width:
                        100%;height:
                        100%;border: none;margin: 0;"></td>
                            <td><input type="text" name="ck_zhe" id="cheng" value=""  readonly="readonly"></td>
                            <td><input type="text" name="ck_ying" id="ck_ying" value="" class="zong_tongchou"
                                       style="width: 100%;height: 100%;border: none;margin: 0;" readonly="readonly"></td>
                            <td><input type="checkbox" name="ck_ji" id="ck_ji" value="1"
                                       checked="checked"/></td>
                        </tr>
                        </tbody>
                </table>
                <!--er-->
                <table class="layui-table">
                    <thead>
                    <tr style="background: #3683D3;color: #fff;">
                        <th style="width: 10% !important;">
                            <input type="checkbox" lay-filter="checkall" name="" id="checkss" >
                        </th>
                        <th style="width:25% !important;">附加统筹项目</th>
                        <th>统筹金额</th>
                        <th>标准统筹费</th>
                        <th>折扣(%)</th>
                        <th>应缴统筹费</th>
                        <th>不计免赔</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" name="ziran" value="1" id="zirans" class="chks" >
                        </td>
                        <td>自燃损失统筹</td>
                        <td>
                            <input type="text" name="zi_tong" id="zi_tong" value=""  style="width: 100%;height: 100%;border: none;">
                        </td>
                        <td> <input type="text" name="zi_biao" class="zongshu" data-hu="zi_biao" id="zi_biao" value=""
                                    style="width: 100%;height:
                        100%;border: none;margin: 0;"></td>
                        <td><input type="text" name="zi_zhe" id="zi" value=""
                                   readonly="readonly"></td>
                        <td><input type="text" name="zi_ying" id="zi_ying" value=""  readonly="readonly" class="zong_tongchou"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="checkbox" name="zi_buji" id="zi_buji"value="1"  /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="fdjsunshi" value="1" id="fadongji" class="chks">
                        </td>
                        <td>发动机涉水损失统筹</td>
                        <td><input type="text" name="fdj_tong" id="fdj_tong" value=""  style="width: 100%;height: 100%;border: none;"></td>
                        <td> <input type="text" name="fdj_biao"  id="fdj_biao" class="zongshu" value="" data-hu="fdj_biao"
                                    style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="text" name="fdj_zhe"  id="fa" value="" readonly="readonly"></td>
                        <td><input type="text" name="fdj_ying"  id="fdj_ying" value="" class="zong_tongchou" readonly="readonly"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="checkbox" name="fdj_buji" id="fdj_buji" value="1"  /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="zdxiuli" value="1" id="xiuli" class="chks">
                        </td>
                        <td>指定修理厂统筹</td>
                        <td><input type="text" name="zd_tong" id="zd_tong" value=""  style="width: 100%;height: 100%;border: none;"></td>
                        <td> <input type="text" name="zd_biao" id="zd_biao"  value="" class="zongshu" data-hu="zd_biao"
                                    style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="text" name="zd_zhe" id="zhi" value="" readonly="readonly" ></td>
                        <td><input type="text" name="zd_ying" id="zd_ying" class="zong_tongchou" value=""  readonly="readonly"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="checkbox" name="zd_buji" id="zd_buji" value="1"  /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="huowu" value="1" id="huowu" class="chks" >
                        </td>
                        <td>车上货物责任统筹</td>
                        <td><input type="text" name="hw_tong" id="hw_tong" value=""  style="width: 100%;height: 100%;border: none;"></td>
                        <td> <input type="text" name="hw_biao" id="hw_biao"  value="" class="zongshu" data-hu="hw_biao"
                                    style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="text" name="hw_zhe" id="che" value="" readonly="readonly" ></td>
                        <td><input type="text" name="hw_ying" id="hw_ying" class="zong_tongchou"  value="" readonly="readonly"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="checkbox" name="hw_buji" id="hw_buji" value="1"  /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="boli" value="1" id="boli" class="chks"  >
                        </td>
                        <td>玻璃单独破碎统筹</td>
                        <td><input type="text" name="bl_tong" id="bl_tong" value=""  style="width: 100%;height: 100%;border: none;"></td>
                        <td> <input type="text" name="bl_biao" id="bl_biao"   value="" class="zongshu" data-hu="bl_biao"
                                    style="width: 100%;height: 100%;border: none;margin: 0;"> </td>
                        <td><input type="text" name="bl_zhe" id="bo" value="" readonly="readonly" ></td>
                        <td><input type="text" name="bl_ying" id="bl_ying" class="zong_tongchou" value="" readonly="readonly"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="checkbox" name="bl_buji" id="bl_buji" value="1"  /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="buji" value="1" class="chks" checked="checked">
                        </td>
                        <td>不计免赔统筹</td>
                        <td>
                            <input type="text" name="bu_tong" id="bu_tong"   readonly value=""
                                   style="width: 100%;height: 100%;border: none;">
                        </td>
                        <td> <input type="text" name="bu_biao" id="bu_biao" class="NoMAins zongshu"  value=""
                                    readonly
                                    style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td><input type="text" name="bu_zhe" id="kou" value="" readonly="readonly"></td>
                        <td><input type="text" name="bu_ying" id="bu_ying"  value="" readonly="readonly"
                                   style="width: 100%;height: 100%;border: none;margin: 0;"></td>
                        <td></td>
                    </tr>

                    </tbody>
</form>

</table>
<!--表格完-->
</div>
<div class="conts">
    <div class="input">
        <span>基准统筹费（合计）</span>
        <input type="text" placeholder="请输入基准统筹费费（合计）" name="main_sum" id="main_sum" oninput='vs()'
               onpropertychange='vs()'  value="" readonly="readonly" id="jzt"/>
    </div>
    <div class="input">
        <span>合计折扣(%)</span>
        <input type="text" placeholder="请输入合计折扣" name="main_sumdiscount" id="addz" value="0"/>
    </div>
    <div class="input">
        <span>统筹费（合计）</span>
        <input type="text" placeholder="请输入统筹费（合计）" name="main_free" id="main_free" oninput='vs()'
               onpropertychange='vs()' value="" readonly="readonly"/>
    </div>
</div>
<div class="titles" style="display: flex;">
    <p style="width: 200px;"><font></font>参统人信息</p>
    <div class="input1" style="margin: 0;padding: 5px;">
        <span>同车主</span><input type="checkbox" id="tcz"/>
    </div>
</div>
<div class="conts">
    <div class="input">
        <span>姓名<font class="red">*</font></span>
        <input type="text" placeholder="请输入姓名" name="ginseng_name" id="ginseng_name"/>
    </div>
    <div class="input">
        <span>证件类型<font class="red">*</font></span>
        <!--<input type="text" placeholder="请输入证件类型" name="zjl1" id="zjl1"/>-->
        <select name="ginseng_kind" id="ginseng_kind">
            <option value="0">身份证</option>
            <option value="1">统一社会信用代码</option>
        </select>
    </div>
    <div class="input">
        <span>证件号码<font class="red">*</font></span>
        <input type="text" placeholder="请输入证件号码" name="ginseng_card" id="ginseng_card"/>
    </div>
    <div class="input">
        <span>手机</span>
        <input type="text" placeholder="请输入手机" name="ginseng_phone" id="ginseng_phone"/>
    </div>
    <div class="input">
        <span>邮箱</span>
        <input type="email" placeholder="请输入邮箱" name="ginseng_email" id="ginseng_email"/>
    </div>
    <div class="input">
        <span>地址</span>
        <input type="text" placeholder="请输入地址" name="ginseng_address" id="ginseng_address"/>
    </div>
</div>
<div class="titles" style="display: flex;">
    <p style="width: 200px;"><font></font>被统筹人信息</p>
    <div class="input1" style="margin: 0;padding: 5px;width:100px !important;">
        <span>同参统人</span><input type="radio" id="tctr" name="tong"/>
    </div>
    <div class="input1" style="margin: 0;padding: 5px;width:100px !important;">
        <span>同车主</span><input type="radio" id="btcz" name="tong"/>
    </div>
</div>
<div class="conts">
    <div class="input">
        <span>姓名<font class="red">*</font></span>
        <input type="text" placeholder="请输入姓名" name="learned_name" id="learned_name"/>
    </div>
    <div class="input">
        <span>证件类型<font class="red">*</font></span>
        <!--<input type="text" placeholder="请输入证件类型" name="zjl2" id="zjl2"/>-->
        <select name="learned_kind" id="learned_kind">
            <option value="0">身份证</option>
            <option value="1">统一社会信用代码</option>
        </select>
    </div>
    <div class="input">
        <span>证件号码<font class="red">*</font></span>
        <input type="text" placeholder="请输入证件号码" name="learned_num" id="learned_num"/>
    </div>
    <div class="input">
        <span>手机</span>
        <input type="text" placeholder="请输入手机" name="learned_phone" id="learned_phone"/>
    </div>
    <div class="input">
        <span>邮箱</span>
        <input type="email" placeholder="请输入邮箱" name="learned_email" id="learned_email"/>
    </div>
    <div class="input">
        <span>地址</span>
        <input type="text" placeholder="请输入地址" name="learned_address" id="learned_address"/>
    </div>
</div>
<!---->
<div class="titles" style="display: flex;">
    <p><font></font>特约及争议解决方式</p>
</div>
<div class="input" style="display: flex;">
    <span style="font-size: 14px;width:100px !important;margin:0 1%;font-family:'微软雅黑';">争议解决方：</span>
    <div class="radio1" style="display: flex;">
        <span style="width:35px;display: block;font-size: 14px;font-family: '微软雅黑';">诉讼</span><input id="su"type="radio"checked="checked" name="resolvent"value="1"/>
    </div>
    <div class="radio1" style="display: flex;">
        <span style="width:35px;display: block;font-size: 14px;font-family: '微软雅黑';">仲裁</span><input id="zong" type="radio" name="resolvent" value="2"/>
    </div>
</div>
<!---->
<div class="titles" style="display: flex;">
    <p style="width: 110px;margin-top: 5px;padding: 0px;"><font></font>特别约定</p>
    <button type="button" class="btn btn-primary btn-li " id="jians" data-toggle="modal" data-target="#myModal">检索</button>
</div>
<!--检索模态框开始-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    检索
                </h4>
            </div>
            <style>
                .modal-body tr,td{
                    border: 1px solid #ccc;
                }
                .modal-body tr td{
                    padding:5px;
                }
            </style>
            <div class="modal-body">
                <table style="border: 1px solid #ccc;">
                    <tr style="border: 1px solid #ccc;">
                        <td><input type="checkbox" id="checkall" class="" value=""></td>
                        <td>特别约定</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td><input type="checkbox" class="checkberif" value="1、于****年**月**日，本车申请报停， 报停期间为***年**月**日零时至****年**月**日二十四时， 顺延期间为****年**月**日零时至****年**月**日二十四时，报停期间统筹责任终止，期间本车发生任何事故，统筹人均不负补偿责任。"></td>
                        <td>1、于****年**月**日，本车申请报停， 报停期间为***年**月**日零时至****年**月**日二十四时， 顺延期间为****年**月**日零时至****年**月**日二十四时，报停期间统筹责任终止，期间本车发生任何事故，统筹人均不负补偿责任。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="2、玻璃统筹特别约定：参统玻璃单独破碎统筹按国产玻璃参统，理赔时按国产件补偿。"></td>
                        <td>2、玻璃统筹特别约定：参统玻璃单独破碎统筹按国产玻璃参统，理赔时按国产件补偿。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="3、挖掘机特别约定：参统车辆在使用过程中,造成地下线路、管道等设备的损失以及由此引起的其它损失；施工现场内，施工机械因地基塌陷或重心不稳造成参统车辆倾斜、倾覆，引起的参统车辆自身损失，本公司不负责补偿。"></td>
                        <td>3、挖掘机特别约定：参统车辆在使用过程中,造成地下线路、管道等设备的损失以及由此引起的其它损失；施工现场内，施工机械因地基塌陷或重心不稳造成参统车辆倾斜、倾覆，引起的参统车辆自身损失，本公司不负责补偿。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="4、混凝土泵车特别约定：在施工过程中由于地基不牢发生路面塌陷造成本车的一切损失，或因违反操作规范致使水泥输送臂架系统及其造成的第三者人员伤亡及财产损失，统筹人不承担补偿责任。"></td>
                        <td>4、混凝土泵车特别约定：在施工过程中由于地基不牢发生路面塌陷造成本车的一切损失，或因违反操作规范致使水泥输送臂架系统及其造成的第三者人员伤亡及财产损失，统筹人不承担补偿责任。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="5、起重机特别约定：施工机械在作业过程中，车体失去重心造成参统车辆倾覆、倾斜，引起参统车辆的自身损失；施工机械在吊升、举升、装载货物过程中，由于吊臂断裂、货物掉落原因造成参统车辆的本身损失，以及造成架空管道、线路或其他物体的损失；施工人员违反操作规则，导致机械臂或车身触及高压线所造成的一切损失；车辆在行驶中，由于超过限制高度所引起的车辆本身和第三者的损失，统筹人不承担补偿责任。"></td>
                        <td>5、起重机特别约定：施工机械在作业过程中，车体失去重心造成参统车辆倾覆、倾斜，引起参统车辆的自身损失；施工机械在吊升、举升、装载货物过程中，由于吊臂断裂、货物掉落原因造成参统车辆的本身损失，以及造成架空管道、线路或其他物体的损失；施工人员违反操作规则，导致机械臂或车身触及高压线所造成的一切损失；车辆在行驶中，由于超过限制高度所引起的车辆本身和第三者的损失，统筹人不承担补偿责任。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="6、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。2吨以下车辆单次责任限额**万，年累计责任限额**万。"></td>
                        <td>6、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。2吨以下车辆单次责任限额**万，年累计责任限额**万。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="7、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。10吨以上车辆，单次责任限额**万，年累计责任限额***万。"></td>
                        <td>7、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。10吨以上车辆，单次责任限额**万，年累计责任限额***万。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="8、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。5吨-10吨车辆，单次责任限额**万，年累计责任限额**万。"></td>
                        <td>8、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。5吨-10吨车辆，单次责任限额**万，年累计责任限额**万。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif" value="9、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。2吨-5吨车辆，单次责任限额**万，年累计责任限额**万。"></td>
                        <td>9、车上货物责任统筹特别约定：易燃、易碎、易腐蚀、易污染物品及鲜活产品不在统筹责任范围内。单独运输玻璃（玻璃不得与其他货物混装）且仅在发生道路交通事故的情况下，统筹人负责补偿。2吨-5吨车辆，单次责任限额**万，年累计责任限额**万。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="10、冷藏车厢体不承统，厢体及车上制冷设备不承统。"></td>
                        <td>10、冷藏车厢体不承统，厢体及车上制冷设备不承统。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="11、本车车损统筹及其附加统筹验车后上传系统经审核后方可生效。"></td>
                        <td>11、本车车损统筹及其附加统筹验车后上传系统经审核后方可生效。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="12、车上人员责任险(乘客)补偿限额为50000元*2人。"></td>
                        <td>12、车上人员责任险(乘客)补偿限额为50000元*2人。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="13、本无动力挂车如挂在无商业保险的牵引车上使用，发生事故后我公司不负责补偿。"></td>
                        <td>13、本无动力挂车如挂在无商业保险的牵引车上使用，发生事故后我公司不负责补偿。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="14、不计免赔率特约统筹只包含（车损统筹、第三者责任统筹,车上人员责任统筹）不计免赔。"></td>
                        <td>14、不计免赔率特约统筹只包含（车损统筹、第三者责任统筹,车上人员责任统筹）不计免赔。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="15、被统筹人与行驶证车主情况：被统筹人为 ****，行驶证车主为*****。"></td>
                        <td>15、被统筹人与行驶证车主情况：被统筹人为 ****，行驶证车主为*****。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="16、本统筹单的第一受益人为***。未经其事先书面同意本统筹单不得被退统或减统或批改，不影响第一受益人权益的批改除外。"></td>
                        <td>16、本统筹单的第一受益人为***。未经其事先书面同意本统筹单不得被退统或减统或批改，不影响第一受益人权益的批改除外。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkberif"  value="17、验车风险特约：本统筹车辆在参统时**已有损坏，在被统筹人未自行修复并我公司验车合格前，同一部位发生事故所造成的损失，我公司不承担补偿责任。"></td>
                        <td>17、验车风险特约：本统筹车辆在参统时**已有损坏，在被统筹人未自行修复并我公司验车合格前，同一部位发生事故所造成的损失，我公司不承担补偿责任。</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" checked class="checkberif" readonly  value="无其他特别约定。"></td>
                        <td>无其他特别约定。(<span style="color: red">*</span>此项为必须)</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="abstrtions()">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--模态框结束-->
<script>
    function abstrtions() {
        //定义一个空数组
        var che = [];
        // 进行循环找到选中的复选框
        $.each($("input[class=checkberif]:checked"), function (i) {
            // 添加进定义的数组中
            che.push($(this).val());
        });
        // 把数组分割成字符串
        var str = che.join("\n");
        // 边界问题：为了不让添加的时候覆盖，我就先去获取下原本文本框有的值，然后拼接上刚才我的字符串
        var vals = $('#txt').val() + str;
        // 一同添加到文本框中
        $('#txt').val(vals);
    }
</script>
<div class="conts">
    <textarea name="special" rows="" cols=""  id="txt" value="">无其他特别约定</textarea>
</div>
<!---->
<div class="titles" style="display: flex;">
    <p><font></font>开票信息</p>
</div>
<div class="conts">
    <div class="input3">
        <span>普通发票</span><input type="radio" name="invoice_kind" value="1"/>
    </div>
    <div class="input3">
        <span>专用发票</span><input type="radio" name="invoice_kind" value="2"/>
    </div>
    <div class="input3">
        <span>同参统人</span><input type="radio" id="ktctr" name="can"/>
    </div>
    <div class="input3">
        <span>同被参统人</span><input type="radio" id="ktbctr" name="can"/>
    </div>
</div>
<div class="conts">
    <div class="input">
        <span>发票名称</span>
        <input type="text" placeholder="请输入发票名称" name="invoice_name" id="invoice_name"/>
    </div>
    <div class="input">
        <span>税号</span>
        <input type="text" placeholder="请输入税号" name="invoice_num" id="invoice_num"/>
    </div>
    <div class="input">
        <span>开户行</span>
        <input type="text" placeholder="请输入开户行" name="invoice_bank" id="invoice_bank"/>
    </div>
    <div class="input">
        <span>账号</span>
        <input type="text" placeholder="请输入账号" name="zhanghao" id="zhanghao"/>
    </div>
</div>
<div class="conts">
    <div class="input">
        <span>开户地址</span>
        <input type="text" placeholder="请输入开户地址" name="bank_address" id="bank_address"/>
    </div>
    <div class="input">
        <span>电话</span>
        <input type="text" placeholder="请输入电话" name="invoice_phone" id="invoice_phone"/>
    </div>
    <div class="input">
        <span>备注</span>
        <input type="text" placeholder="请输入备注"  name="beizhu" id="beizhu"/>
    </div>
</div>
<!--文件上传开始-->
<div class="titles" style="display: flex;">
    <p><font></font>影像资料</p>
</div>
<div class="conts" id="files">
    <div class="input-group"><input name="file" id="file" type="hidden" class="form-control" value="" /> <span class="input-group-btn"><input type="button" value="选择资料" class="btn green" onclick="upImage();"></span></div>
</div>
<div id="xiang"></div>
<div class="shade" onclick="javascript:closeShade()">
    <div class="">
        <span class="text_span"></span>
    </div>
</div>
<div class="shadeImg" onclick="javascript:closeShadeImg()">
    <div class="" style="width: 100%;height:100%;width: 500px;height: 500px;position:fixed; top: 30%;left: 35%; overflow: auto;">
        <img class="showImg" src=""/>
    </div>
</div>

<div class="bao" style="width:60px;height: 30px;margin:20px auto;">
    <button type="button" style="width:100%;height:100%;border: none;background:#3683D3;color: #fff;-webkit-border-radius:5px ;-moz-border-radius:5px ;border-radius: 5px;" onclick="return imgclick()">保存</button>
</div>


<!--文件上传结束-->
<div class="titles" style="display: flex;">
    <p style="width: 30%;">参统说明</p>
</div>
<div class="conts">
    <textarea name="shuoming" rows="" cols="" value="" style="width:99%;height: 50px;"></textarea>
</div>
<div class="btn1" style="margin: 0 auto;width:250px;display: flex;">
    <button type="button" style="width: 100px;height: 30px;background: #3683D3;color: #fff;border-radius: 20px;border: none;margin: 10px;" onclick="zancun()">暂存</button>
    <button type="button" style="width: 100px;height: 30px;background: #3683D3;color: #fff;border-radius: 20px;border: none;margin: 10px;" onclick="ajaxPost()">提交审核</button>
</div>
</div>
</div>
</form>


</html>

