<link rel="stylesheet" href="/static/ace1.4/assets/css/chosen.min.css">
<script src="/static/ace1.4/assets/js/chosen.jquery.min.js"></script>
<script  src="/static/ace1.4/assets/js/select-treeview.js"></script>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">单证回收</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                <form action="" name="addRecycle">
                <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                    <div class=" search-item-div col-xs-3">
                        <label class="text-center search-item-label">回收部门:</label>
                        <ul id="recycle_structure" class="col-xs-6" style="padding:0px;width:100%"></ul>
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">回收工号:</label>
                        <select class="chosen-select form-control" name="recycle_user" style="width:100%" >
                            <option value="0">请选择下发工号</option>
                            {volist name="users" id="value"}
                            <option value="{$value.id}">{$value.all_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class=" search-item-div col-xs-3">
                        <label class="text-center search-item-label">起始号:</label>
                        <input type="text" class="form-control" id="recycle_s_num" name="recycle_s_num" style="width:100%" value="">
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">截止号:</label>
                        <input type="text" class="form-control" id="recycle_e_num" name="recycle_e_num" style="width:100%">
                    </div>
                </div>
                <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">数量:</label>
                        <input type="text" class="form-control" id="recycle_total" name="recycle_total" style="width:100%" value="">
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">单证状态:</label>
                        <select class="form-control" name="recycle_fettle" style="width:100%">
                            <option value="0">请选择单证类型</option>
                            {volist name="fettle" id="value" key="key"}
                            <option value="{$key-1}">{$value}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">单证类型:</label>
                        <select class="form-control" name="recycle_type" style="width:100%">
                            <option value="0">请选择单证类型</option>
                            {volist name="type" id="value" key="key"}
                            <option value="{$key-1}">{$value}</option>
                            {/volist}
                        </select>
                    </div>

                    <div class="search-item-div col-xs-2">
                        <label class="text-center search-item-label">回收日期:</label>
                        <input type="text" class="form-control" readonly id="recycle_create_time" name="recycle_create_time" style="width:100%" value="{:input('param.recycle_create_time')}">
                    </div>
                    <div class="search-item-div col-xs-1">
                        <button class="layui-btn layui-btn-radius layui-btn-normal" id="recycle" style="margin-top:2rem">回收</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">回收查询</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                <form action="" class="exportForm" name="searchRecycle">
                <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                    <div class=" search-item-div col-xs-3">
                        <label class="text-center search-item-label">单证号:</label>
                        <input type="text" class="form-control" name="documents_id" style="width:100%" value="{:input('param.documents_id')}">
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">回收部门:</label>
                        <ul id="search_recycle_structure" class="col-xs-6" style="padding:0px;width:100%"></ul>
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">回收工号:</label>
                        <select class="chosen-select form-control" name="recycle_user" style="width:100%" >
                            <option value="0">请选择下发工号</option>
                            {volist name="users" id="value"}
                            <option value="{$value.id}" {if input('param.recycle_user') eq $value.id} selected {/if}>{$value.all_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">回收日期:</label>
                        <input type="text" class="form-control" readonly id="search_recycle_create_time" name="recycle_create_time" style="width:100%" value="{:input('param.recycle_create_time')}">
                    </div>
                </div>


                <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                    <div class=" search-item-div col-xs-3">
                        <label class="text-center search-item-label">操作人:</label>
                        <input type="text" class="form-control" name="recycle_create_user" style="width:100%" value="{:input('param.recycle_create_user')}">
                    </div>
                    <div class="search-item-div col-xs-3">
                        <label class="text-center search-item-label">单证状态:</label>
                        <select class="form-control" name="recycle_fettle" style="width:100%">
                            <option value="0">请选择单证类型</option>
                            {volist name="fettle" id="value" key="key"}
                            <option value="{$key-1}" {if input('param.recycle_fettle') eq $key-1} selected {/if}>{$value}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                    <div class=" search-item-div col-xs-3 ">
                        <button class="layui-btn layui-btn-radius layui-btn-normal search">查询</button>
                        <button class="layui-btn layui-btn-radius layui-btn-normal export">导出</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">统筹单列表</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover center">
                    <thead>
                    <tr>
                        <th class="center">部门</th>
                        <th class="hidden-480 center">工号</th>
                        <th class="hidden-480 center">单证号码</th>
                        <th class="center">单证类型</th>
                        <th class="center">回收日期</th>
                        <th class="center">回收操作人</th>
                        <th class="center">入库批次</th>
                        <th class="hidden-480 center">入库时间</th>
                        <th class="center">入库操作人</th>
                        <th class="center">下发批次</th>
                        <th class="center">下发时间</th>
                        <th class="center">下发操作人</th>
                        <th class="center">单证状态</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="value"}
                    <tr data-id="{$value.id}">
                        <td>{$value.recycle_structureStr}</td>
                        <td>{$value.recycle_userStr}</td>
                        <td>{$value.documents_id}</td>
                        <td>{$value.recycle_typeStr}</td>
                        <td>{:date('Y-m-d',$value.recycle_create_time)}</td>
                        <td>{$value.recycle_create_user}</td>
                        <td>{$value.add_id}</td>
                        <td>{:date('Y-m-d',$value.create_time)}</td>
                        <td>{$value.create_user}</td>
                        <td>{$value.issued_id}</td>
                        <td>{:date('Y-m-d',$value.issued_create_time)}</td>
                        <td>{$value.issued_create_user}</td>
                        <td>{$value.recycle_fettleStr}</td>
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="red delDocuments" href="">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a class="red delDocuments" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                {$list->render()}
            </div>
        </div>
    </div>
</div>
{include file="public/export" /}
<script>
    const structure_data = {$structureList};
    const searchstructure_data = {$SearchstructureList};
    jQuery(function($) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#recycle_create_time' //交强起期
                , format: 'yyyy-MM-dd'
                , done: function (value, date, endDate) {
                    $("#recycle_create_time").val(value);
                }
            });
        });
        var options = {
            data: structure_data,
            id: "id",
            text: "text",
            nodes: "nodes",
            checked: "checked",
            name: "recycle_structure",
        };
        /**
         * 提初始化树结构
         */
        $('#recycle_structure').AddSelect(options);
        var options = {
            data: searchstructure_data,
            id: "id",
            text: "text",
            nodes: "nodes",
            checked: "checked",
            name: "recycle_structure",
        };
        /**
         * 提初始化树结构
         */
        $('#search_recycle_structure').AddSelect(options);
        $('.chosen-select').chosen({allow_single_deselect:true});
        //计算数量
        $("#recycle_e_num").on('keyup',function() {
            var val = $(this).val();
            var s_num = $("#recycle_s_num").val();
            var num = parseInt(val) - parseInt(s_num);
            $("#recycle_total").val(num+1);
        })
        //回收
        $("#recycle").on('click',function() {
            var but = $(this);
            but.attr("disabled","disabled");
            var form = $("form[name=addRecycle]").serializeArray();
            var url = '/admin/ajax/Documents/recycle/recycleDocuments';
            var recycle_structures = $("#recycle_structure").GetSelect().split(',');
            var structure_length = recycle_structures.length;
            if(structure_length > 1 && recycle_structures[structure_length-1] == "") {
                replaceForm(form, 'recycle_structure', recycle_structures[structure_length-2]);
            }
            $.ajax(url, {
                dataType: 'json', // type of response data
                timeout: 500,     // timeout milliseconds
                method: "post",
                data: form,
                success: function (data, status, xhr) {   // success callback function
                    but.removeAttr("disabled");
                    if (data.code == 100000) {
                        layer.msg(data.msg);
                        setTimeout(function () {
                            location.reload();
                        }, 300);
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function () {
                    but.removeAttr("disabled");
                    layer.msg("系统错误");
                }
            });
            return false;
        })
        //删除
        $(".delDocuments").on('click',function() {
            var documents = $(this).parents('tr').attr("data-id");
            var but = $(this);
            but.attr("disabled","disabled");
            layer.confirm('是否确认删除?', function(index){
                $.ajax('/admin/ajax/Documents/recycle/delRecycle',{
                    dataType: 'json', // type of response data
                    timeout: 500,     // timeout milliseconds
                    method: "post",
                    data: {id:documents},
                    success: function (data,status,xhr) {   // success callback function
                        but.removeAttr("disabled");
                        if(data.code == 100000) {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                location.reload();
                            },300);
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function() {
                        layer.msg("系统错误");
                    }
                });
                layer.close(index);
            });
            return false;
        })
        //查询
        $(".search").on('click',function() {
            var form = $("form[name=searchRecycle]").serializeArray();
            var recycle_structures = $("#recycle_structure_search").GetSelect().split(',');
            var structure_length = recycle_structures.length;
            if(structure_length > 1 && recycle_structures[structure_length-1] == "") {
                replaceForm(form, 'recycle_structure', recycle_structures[structure_length-2]);
            }
            window.location.href="/admin/Documents/recycle/recycle?"+convertObj(form);
            return false;
        })
    })
    function convertObj(data) {
        var _result = [];
        for (var key = 0; key < data.length; key ++) {
            var value = data[key];
            if (value != undefined) {
                _result.push(value.name + '=' + value.value);
            }
        }
        return _result.join('&');
    }
</script>
