<div class="row">
    <form style="" class="exportForm" name="searchOverall">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title">统筹单查询</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label for="temporary_id" class="text-center search-item-label">暂存单号:</label>
                            <input type="text" class="form-control" id="temporary_id" name="temporary_id" style="width:100%" value="{:input('param.temporary_id')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="overall_id" class="text-center search-item-label">统筹单号:</label>
                            <input type="text" class="form-control" id="overall_id" name="overall_id" style="width:100%" value="{:input('param.overall_id')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="documents_id" class="text-center search-item-label">单证号:</label>
                            <input type="text" class="form-control" id="documents_id" name="documents_id" style="width:100%" value="{:input('param.documents_id')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="participate_name" class="text-center search-item-label">参统人:</label>
                            <input type="text" class="form-control" id="participate_name" name="participate_name" style="width:100%" value="{:input('param.participate_name')}">
                        </div>
                    </div>


                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label for="coordinated_name" class="text-center search-item-label">被统筹人:</label>
                            <input type="text" class="form-control" id="coordinated_name" name="coordinated_name" style="width:100%" value="{:input('param.coordinated_name')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="attribution_user" class="text-center search-item-label">归属人:</label>
                            <input type="text" class="form-control" id="attribution_user" autocomplete="off" list="users" placeholder="请输入归属人" name="attribution_user" style="width:100%" value="{$attribution_user|default=''}">
                            <datalist id="users">
                                {volist name="users" id="value"}
                                <option data-value="{$value.id}" data-manager="{$value.manager_id}">{$value.all_name}</option>
                                {/volist}
                            </datalist>
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="plate" class="text-center search-item-label">车牌号:</label>
                            <input type="text" class="form-control" id="plate" name="plate" style="width:100%" value="{:input('param.plate')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="frame" class="text-center search-item-label">车架号:</label>
                            <input type="text" class="form-control" id="frame" name="frame" style="width:100%" value="{:input('param.frame')}">
                        </div>
                    </div>


                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label for="start_time_start" class="text-center search-item-label">核统起期:</label>
                            <input type="text" class="form-control" readonly id="start_time_start" name="start_time_start" style="width:100%" value="{:input('param.start_time_start')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="end_time_end" class="text-center search-item-label">核统止期:</label>
                            <input type="text" class="form-control" readonly id="end_time_end" name="end_time_end" style="width:100%" value="{:input('param.end_time_end')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="financial_review_time_start" class="text-center search-item-label">财务审核（起期）:</label>
                            <input type="text" class="form-control" readonly id="financial_review_time_start" name="financial_review_time_start" style="width:100%" value="{:input('param.financial_review_time_start')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="financial_review_time_end" class="text-center search-item-label">财务审核（止期）:</label>
                            <input type="text" class="form-control" readonly id="financial_review_time_end" name="financial_review_time_end" style="width:100%" value="{:input('param.financial_review_time_end')}">
                        </div>
                    </div>


                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label class="text-center search-item-label">统筹单状态:</label>
                            <select name="status" id="status" style="width:100%">
                                <option value="-1">请选择</option>
                                {volist name="$status" id="value" key="key"}
                                <option value="{$key-1}" {if input('param.status') eq $key-1} selected{/if}>{$value}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class=" search-item-div col-xs-3 " style="margin-top:2rem;">
                            <button class="layui-btn layui-btn-radius layui-btn-normal" id="search">查询</button>
                            <button class="layui-btn layui-btn-radius layui-btn-normal" type="reset" value="reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">统筹单列表</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover center">
                    <thead>
                    <tr>
                        <th class="center"><input type="checkbox" name="overall_check" value="all"></th>
                        <th class="center"><a href="">暂存单号</a></th>
                        <th class="hidden-480 center">统筹单号</th>
                        <th class="hidden-480 center">单证号</th>
                        <th class="hidden-480 center">车牌号</th>
                        <th class="center">车架号</th>
                        <th class="center">参统人</th>
                        <th class="center">被统筹人</th>
                        <th class="center">录入日期</th>
                        <th class="hidden-480 center">参统起期</th>
                        <th class="hidden-480 center">统筹费</th>
                        <th class="center">业务归属</th>
                        <th class="center">审核人</th>
                        <th class="center">状态</th>
                        <th class="center">财务审核日期</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="$list" id="value" key="key"}
                    <tr data-id="{$value.temporary_id}" data-status="{$value.status}" data-documents="{$value.documents_id}">
                        <td><input type="checkbox" name="overall_check" class="overall_check" value="{$value.temporary_id}"></td>
                        <td><a href="/admin/Overall/overall/view?temporary_id={$value.temporary_id}" target="_blank">{$value.temporary_id}</a></td>
                        <td>{$value.overall_id}</td>
                        <td>{$value.documents_id}</td>
                        <td>{$value.plate}</td>
                        <td>{$value.frame}</td>
                        <td>{$value.participate_name}</td>
                        <td>{$value.coordinated_name}</td>
                        <td>{:date('Y-m-d',$value.create_time)}</td>
                        <td>{:date('Y-m-d',$value.start_time)}</td>
                        <td>{$value.total_planning}</td>
                        <td>{$value.attribution_userStr}</td>
                        <td>{$value.financial_review_user}</td>
                        <td>{$value.statusStr}</td>
                        <td>{if $value.financial_review_time neq 0}{:date('Y-m-d H:i:s',$value.financial_review_time)}{/if}</td>
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="green" href="/admin/Overall/overall/edit?temporary_id={$value.temporary_id}">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>

                                <a class="red delOverall" href="">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                                <a class="blue" href="/admin/Overall/overall/copy?temporary_id={$value.temporary_id}">
                                    <i class="ace-icon fa fa-copy bigger-110 bigger-130"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a class="green" href="/admin/Overall/overall/edit?temporary_id={$value.temporary_id}">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="red delOverall" href="#">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="blue" href="/admin/Overall/overall/copy?temporary_id={$value.temporary_id}">
                                                <i class="ace-icon fa sort bigger-130"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div style="margin-left:40%" class="second">
                    <button class="layui-btn layui-btn-radius layui-btn-normal cancelPass">取消通过</button>
                    <button class="layui-btn layui-btn-radius layui-btn-normal addDocuments">打印</button>
                    <button class="layui-btn layui-btn-radius layui-btn-normal overallPdf">电子统筹单</button>
                    <button class="layui-btn layui-btn-radius layui-btn-normal export">导出</button>
                </div>
                {$list->render()}
            </div>
        </div>
    </div>
</div>
<!-- 打印modal开始-->
<div class="modal fade" id="documents_edit_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">单证号修改</h4>
            </div>
            <div class="modal-body">
                <span>打印单号:</span>
                <input type="text" id="documents_id_add" style="width:20%;margin-left:1rem" value="">
                <input type="hidden" id="overall_documents" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addDocuments">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--打印modal结束-->
{include file="public/export" /}
<script>
    jQuery(function($) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#start_time_start' //核统起
                , format: 'yyyy-MM-dd'
                , done: function (value, date, endDate) {
                    $("#start_time_start").val(value);
                }
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#end_time_end' //核统止
                , format: 'yyyy-MM-dd'
                , done: function (value, date, endDate) {
                    $("#end_time_end").val(value);
                }
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#financial_review_time_start' //财务审核起
                , format: 'yyyy-MM-dd'
                , done: function (value, date, endDate) {
                    $("#financial_review_time_start").val(value);
                }
            });
            //执行一个laydate实例
            laydate.render({
                elem: '#financial_review_time_end' //财务审核止
                , format: 'yyyy-MM-dd'
                , done: function (value, date, endDate) {
                    $("#financial_review_time_end").val(value);
                }
            });
        });
        //删除
        $(".delOverall").on('click',function() {
            var overall = $(this).parents('tr').attr("data-id");
            var but = $(this);
            but.attr("disabled","disabled");
            layer.confirm('是否确认删除?', function(index){
                var id = but.parents('tr').attr("data-id");
                $.ajax('/admin/ajax/Overall/overall/delOverall',{
                    dataType: 'json', // type of response data
                    timeout: 500,     // timeout milliseconds
                    method: "post",
                    data: {id:overall},
                    success: function (data,status,xhr) {   // success callback function
                        but.removeAttr("disabled");
                        if(data.code == 100000) {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                location.reload();
                            },300);
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function() {
                        layer.msg("系统错误");
                    }
                });
                layer.close(index);
            });
            return false;
        });
        //生成统筹单跳转
        $(".overallPdf").on('click',function() {
            var total = 0;
            var value = '';
            var status = '';
            $(".overall_check").each(function() {
                if(this.checked){
                    total ++;
                    value = $(this).val();
                    status = $(this).parents("tr").attr("data-status");
                }
            })
            if(total > 1) {
                layer.msg("只能选择一项");
                return false;
            }else if(total == 0) {
                layer.msg("请选择一项");
                return false;
            }else{
                if(status != 6) {
                    layer.msg("审核未通过禁止生成统筹单");
                    return false;
                }
                window.location.href="/admin/Overall/overall/overallPdf?temporary_id="+value;
            }
            return false;
        })
        //打印
        $(".addDocuments").on('click',function() {
            var but = $(this);
            but.attr("disabled","disabled");;
            var total = 0;
            var documents_id = '';
            var temporary_id = '';
            $(".overall_check").each(function() {
                if(this.checked){
                    total ++;
                    documents_id = $(this).parents("tr").attr("data-documents");
                    temporary_id = $(this).val();
                }
            })
            if(total > 1) {
                layer.msg("请仅选择一项");
                return false;
            }
            if(documents_id != '') {
                layer.confirm('此单号已打印是否重新打印?', function(index){
                    layer.close(index);
                    $("#overall_documents").val(temporary_id);
                    $("#documents_id_add").val(documents_id);
                    $("#documents_edit_modal").modal();
                });
            }else{
                $("#overall_documents").val(temporary_id);
                $("#documents_id_add").val("");
                $("#documents_edit_modal").modal();
            }
            but.removeAttr("disabled");
        })
        //打印提交
        $("#addDocuments").on('click',function() {
            var documents_id = $("#documents_id_add").val()
            var but = $(this);
            but.attr("disabled","disabled");;
            var id = $("#overall_documents").val();
            $.ajax('/admin/ajax/Overall/overall/editDocuments',{
                dataType: 'json', // type of response data
                timeout: 500,     // timeout milliseconds
                method: "post",
                data: {documents_id:documents_id,related_id:id,issued_type:1},
                success: function (data,status,xhr) {   // success callback function
                    but.removeAttr("disabled");
                    if(data.code == 100000) {
                        layer.msg(data.msg);
                        setTimeout(function() {
                            location.reload();
                        },300);
                    }else{
                        layer.msg(data.msg);
                    }
                },
                error: function() {
                    but.removeAttr("disabled");
                    layer.msg("系统错误");
                }
            });
        })
        //取消通过
        $(".cancelPass").on('click',function () {
            var but = $(this);
            but.attr("disabled","disabled");;
            var total = 0;
            var status = '';
            var temporary_id = '';
            $(".overall_check").each(function() {
                if(this.checked){
                    total ++;
                    status = $(this).parents("tr").attr("data-status");
                    temporary_id = $(this).val();
                }
            })
            if(total > 1) {
                layer.msg("请仅选择一项");
                but.removeAttr("disabled");
                return false;
            }
            if(status == 6) {
                layer.msg("审核通过禁止取消");
                but.removeAttr("disabled");
                return false;
            }
            $.ajax('/admin/ajax/review/primary/review',{
                dataType: 'json', // type of response data
                timeout: 500,     // timeout milliseconds
                method: "post",
                data: {related_id:temporary_id,type:1,status:2,log_type:7},
                success: function (data,status,xhr) {   // success callback function
                    but.removeAttr("disabled");
                    if(data.code == 100000) {
                        layer.msg(data.msg);
                        setTimeout(function() {
                            window.location.href="/admin/Overall/overall/index";
                        },300);
                    }else{
                        layer.msg(data.msg);
                    }
                },
                error: function() {
                    but.removeAttr("disabled");
                    layer.msg("系统错误");
                }
            });
        })
        //查询
        $("#search").on('click',function () {
            var $options=$("#users").children();
            for(var i=0;i<$options.length;i++) {
                if ($options.eq(i).val().trim() == $("#attribution_user").val().trim()) {
                    $("#attribution_user").val($options.eq(i).attr("data-value"));
                    break;
                }
            }
        })
    });
</script>
