<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                </div>
                <div>
                    <button class="layui-btn layui-btn-radius layui-btn-normal pull-right" onclick="javascript:window.location.href = '/admin/system/Menu/add'">添加</button>

                    <table id="dynamic-table" class="table table-striped table-bordered table-hover center">
                        <thead>
                        <tr>
                            <th class="center">菜单ID</th>
                            <th class="center" width="15%">菜单名称</th>
                            <th class="hidden-480 center">排序</th>
                            <th class="hidden-480 center">
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                图标
                            </th>
                            <th class="hidden-480 center">菜单层级</th>
                            <th class="center">url</th>
                            <th class="center">是否展示</th>
                            <th class="center">添加人</th>
                            <th class="center">添加时间</th>
                            <th class="hidden-480 center">修改人</th>
                            <th class="hidden-480 center">修改时间</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {volist name="menuList" id="value"}
                            <tr data-id="{$value.id}" data-sort="{$value.sort}" data-pid="{$value.pid}">
                                <td>{$value.id}</td>
                                <td>{:str_repeat("│        ",$value['level'])} {eq name="$value['level']" value="0"}<span class="fa {$value.icon}"></span> <b>{$value.name}</b>{else/}├─{$value.name}{/eq}</td>
                                <td class="hidden-480 col-xs-1">{$value.sort}</td>
                                <td class="hidden-480">{$value.icon}</td>
                                <td class="hidden-480">{$value.level}</td>
                                <td>{$value.url}</td>
                                <td>{$value.isshowStr}</td>
                                <td>{$value.create_user}</td>
                                <td>{if $value.create_time neq 0}{$value.create_time}{/if}</td>
                                <td class="hidden-480">{$value.op_user}</td>
                                <td class="hidden-480">{if $value.op_time neq 0}{$value.op_time}{/if}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="blue addMenu" href="#">
                                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                        </a>
                                        <a class="green editMenu" href="#">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red delMenu" href="#">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                        <a class="blue sortMenu" href="#">
                                            <i class="ace-icon fa fa-exchange bigger-130"></i>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                <li>
                                                    <a class="blue addMenu" href="#">
                                                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="green editMenu" href="#">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="red delMenu" href="#">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="blue sortMenu" href="#">
                                                        <i class="ace-icon fa sort bigger-130"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div id="grid-pager"></div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function() {
        //添加
        $(".addMenu").on('click',function() {
            var id = $(this).parents('tr').attr("data-id");
            window.location.href="/admin/system/Menu/add?pid=" + id;
        });
        //修改
        $(".editMenu").on('click',function() {
            var id = $(this).parents('tr').attr("data-id");
            window.location.href="/admin/system/Menu/edit?id=" +id;
        });
        //删除
        $(".delMenu").on('click',function() {
            var but = $(this);
            but.attr("disabled","disabled");
            layer.confirm('是否确认删除?', function(index){
                var id = but.parents('tr').attr("data-id");
                $.ajax('/admin/ajax.menu/delMenu',{
                    dataType: 'json', // type of response data
                    timeout: 500,     // timeout milliseconds
                    method: "post",
                    data: {id:id},
                    success: function (data,status,xhr) {   // success callback function
                        but.removeAttr("disabled");
                        if(data.code == 100000) {
                            layer.msg(data.msg);
                            setTimeout(function() {
                                location.reload();
                            },300);
                        }else{
                            layer.msg(data.msg);
                        }
                    },
                    error: function() {
                        layer.msg("系统错误");
                    }
                });
                layer.close(index);
            });
        })
        //排序
        $(".sortMenu").on('click',function() {
            var but = $(this);
            but.attr("disabled","disabled");
            var sort = but.parents('tr').attr("data-sort");
            var id = but.parents('tr').attr("data-id");
            layer.open({
                title: '菜单排序',
                shadeClose: 'true',
                content: '<div class="col-xs-12"> <div class="form-group"> <label class="col-sm-3 control-label no-padding-top"> 排序 </label> <div class="col-sm-9" style="margin-bottom: 1rem"> <input type="text" id="sortMenu" name="sort" value='+sort+'> </div></div>',
                yes: function(index, layero){
                    var editSort = $("#sortMenu").val();
                    $.ajax('/admin/ajax.menu/sortMenu',{
                        dataType: 'json', // type of response data
                        timeout: 500,     // timeout milliseconds
                        method: "post",
                        data: {id:id,sort:editSort},
                        success: function (data,status,xhr) {   // success callback function
                            but.removeAttr("disabled");
                            if(data.code == 100000) {
                                layer.msg(data.msg);
                                setTimeout(function() {
                                    location.reload();
                                },300);
                            }else{
                                layer.msg(data.msg);
                            }
                        },
                        error: function() {
                            layer.msg("系统错误");
                        }
                    });
                    layer.close(index);
                }
            });

        })
    })
</script>
