<div class="row">
    <form style="" name="addQuotationForm">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title">全单批改</h5>
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>

                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="form-inline form-group col-xs-11" style="margin-top:20px;">
                        <div class=" search-item-div col-xs-3">
                            <label for="overall_id" class="text-center search-item-label">统筹单号:</label>
                            <input type="text" class="form-control" id="overall_id" name="overall_id" style="width:100%" value="">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <label for="op_time" class="text-center search-item-label">修改日期:</label>
                            <input type="text" class="form-control" id="op_time" disabled name="op_time" style="width:100%" value="{:date('Y-m-d')}">
                        </div>
                        <div class="search-item-div col-xs-3">
                            <button class="layui-btn layui-btn-radius layui-btn-normal" id="next" style="margin-top:2rem;">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    jQuery(function($) {
        $("#next").on('click',function() {
            var id = $("#overall_id").val();
            if(id == "") {
                layer.msg("请输入统筹单号");
                return false;
            }
            window.location.href="/admin/Endorsements/fullorder/endorsements?overall_id="+id;
            return false;
        })
    })
</script>
